#@ Placement
#-    Configure a placement constraint to where the container will be run.
#-    Examples:
#-        - node.hostname==<hostname>
#-        - engine.labels.fs-access.<worker-hostname>.mnt==true
#-        - node.role!=manager
PLACEMENT_CONSTRAINT=engine.labels.node-type==gitlab-runner
#-  - DATA_PATH -
#-    The path to the directory where cache storage will be written
DATA_PATH=/opt/gitlab-runner
#-  - RUNNER_NAME -
#-    Configure the GitLab Runner name
RUNNER_NAME=swarm-gitlab-runner
#-  - RUNNER_CONCURRENCY -
#-    GitLab Runner concurrency (max number of jobs it can process at the same time)
RUNNER_CONCURRENCY=2
#-  - DOCKER_IMAGE -
#-    Default docker image used by runner jobs
DOCKER_IMAGE=docker
#-  - KEEP_ALIVE -
#-    Keep services alive between restarts (will still recreate if the configuration updates)
KEEP_ALIVE=true
